* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/background\ 1.png);
}

[href] {
    text-decoration: none;
    color: #FFFFFF;
}

.header {
    width: 1030px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo:hover {
    filter: invert(55%) sepia(33%) saturate(7498%) hue-rotate(349deg) brightness(100%) contrast(91%);
}

.text-logo-link {
    display: block;
    font-weight: 700;
}

.right-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.text-logo {
    font-weight: 700;
    font-size: 29px;
}

[src="./img/logo3.png"] {
    margin-right: 8px;
    width: 53px;
    height: 47px;
}

.content {
    width: 1030px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 260px);
    row-gap: 37px;
    column-gap: 55px;
}

.grid-item:hover .block {
    display: block;
    bottom: 0;
}

.hidden-block {
    position: relative;
    overflow: hidden;
    height: 220px;
    width: 100%;
}

.block {
    background: #F26522;
    height: 60px;
    position: absolute;
    bottom: -60px;
    width: 100%;
    color: #FFFFFF;
    transition: bottom 1s;
}

.link:hover {
    color: #F26522;
}

.text-grid {
    padding-top: 15px;
    text-align: center;
}

.text-block {
    font-size: 10px;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.price-block {
    font-size: 20px;
    padding-left: 16px;
}

.txt-block {
    font-size: 14px;
    padding-left: 128px;
}

.txt-block::after {
    content: '';
    border: solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 15px;
    margin-bottom: 2px;
}

.img {
    width: 100%;
    height: 220px;
}

.copy {
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}